body {
  background-image: url(../img/pattern.jpg);
  padding-top: 70px;
  margin: 0;
}

* {
  box-sizing: border-box;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  padding-top: 0px;
  width: 100%;
  margin-bottom: 50px;
  list-style-type: none;
  justify-content: right;
  display: flex;
  justify-content: space-between;
}

h1 {
  text-align: center;
  background-color: #fff;
}

ul li {
  display: inline-block;
  padding-right: 10px;
}
a {
  font-size: 23px;
  text-decoration: none;
}

section {
  background-color: white;
  border: rgb(255, 255, 255) solid 3px;
  margin: 5px 150px 5px 150px;
}

article {
  padding: 50px 20px 10px 20px;
  border-bottom: 3px rgba(77, 71, 71, 0.324) solid;
}

footer {
  background-color: rgb(0, 0, 0);
  text-align: center;
  margin: 20px 10px 20px 10px;
  padding: 3px 0px 3px 0px;
  color: #fff;
}
